* {
    font-family: century gothic;
    color: aliceblue;
    border: 0px solid #000;
    text-align: center;
    align-items: center;
    padding:inherit;
    background-image:image("\image\universe.jpg");
    z-index: auto;
}
.name {
    align-content: center;
    font-size: 300%;
    font-weight: 400
}
h2 {
    font-weight: 500;
    font-size: 200%;
}
h4 {
    font-weight: 200;
    font-stretch: expanded;
    font-size-adjust: auto;
    align-items: center;
    
}
h3 {
    align-content: center;
    text-align: center;
    font-size: 125%;
    font-weight: 600;
    padding-bottom: 0px 0px;
    
}
li { 
    align-items: center; 
    align-content: center; 
    align-self: auto; 
    font-weight: 300;
    font-size: 100%;
    
}
body {
    background-image: radial-gradient(#0148ba,#0e274f);
    
}
.academic {
    
    padding: 0.1% inherit;
}
.skill {
    padding: 1% inherit;
}
p {
    padding: 0px 15%;
    min-width: ;
    text-align: center;
}
